APP_NAME=Laravel
APP_TIMEZONE=Asia/Manila
APP_ENV=local
APP_KEY=base64:pMnKfiSNWNqJ3+2UXC5WxvAvoPQiE6tNxoT6qwGZZZ0=
APP_DEBUG=true
APP_URL=http://doctrax.dictr2.cloud

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=Asia/Manila

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=doctrax
DB_USERNAME=doctrax-db
DB_PASSWORD=r2Su1t3@2026

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME="karlsteven.maddela@dict.gov.ph"
MAIL_PASSWORD="pgovrhdvtbvipvsw"
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="karlsteven.maddela@dict.gov.ph"
MAIL_FROM_NAME="DICT R2 DocTrax"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

GOOGLE_CLIENT_ID=376368344777-pfhg1vuvbffg6j52kk3bs75dvuckcnt8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URI=http://doctrax.dictr2.cloud/oauth2callback
